<header class="js-dashboard-chart-handle dashboard-chart-handle panel-heading">
    <span class="panel-title">{{title}}</span>
</header>
<main class="panel-body">
    <div class="js-dashboard-chart-container"></div>
</main>
<!--<footer class="panel-footer">-->

<!--</footer>-->

