<h4>Select the period for the report</h4>
<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button"  data-toggle="dropdown">
        Dropdown
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">7 Days</a></li>
        <li><a href="#">14 Days</a></li>
        <li><a href="#">Custom Dates</a></li>
    </ul>
</div>
<form>
    <div class="controls">
        <select class="form-control">
            <option value="">Default select</option>
            <option>7 Days<option>
            <option>14 Days<option>
            <option>Custom Dates<option>
        </select>
    </div>
</form>
<button class="btn btn-default btn-success ">Generate</button>
