<div>
    <h1>Report: {{reportName}}</h1>
    <section clsss="js-report-form-container"></section>
    <section class="js-report-graph-container"></section>
    <section class="js-report-table-container"></section>
</div>
