html, body {
  height:100%;
  margin:0;
}

.envelope-flex-container {
  display: flex;
  height:100%;
  flex-direction: row;
  align-content: stretch;
}
.envelope-left-nav {
  flex: 0 1 200px;
  height:100%;
}
.envelope-right-main {
  flex:1;
}


.envelope-left-nav-container {
  display: flex;
  width: 300px;
  flex-direction: column;
  align-content: stretch;
}
